// color
$red:#AA0601;
$darkred:#650300;
$lightred:#FBF2F2;
$gray:#707070;
$darkgray:#212529;

// font
$font-h2:4.5rem;
$font-h3:4rem;
$font-h4:3rem;
$font-h5:2.25rem;
$font-h6:1.5rem;
$font-h7:1.25rem;
$font-p1:1rem;
$font-p2:0.875rem;