// color
$red:#AA0601;
$darkred:#650300;
$lightred:#FBF2F2;
$gray:#707070;
$darkgray:#212529;

// font
$font-h2:4.5rem; //72px
$font-h3:4rem; //64px
$font-h4:3rem; //48px
$font-h5:2.25rem; //36px
$font-h6:1.5rem; //24px
$font-h7:1.25rem;//20px
$font-p1:1rem; //16px
$font-p2:0.875rem; //14px